/*
font-family: 'Quintessential', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Zen Antique', serif;
*/
:root{
    --mainColour: #bdbcbc;
    --secondaryColour: rgba(255, 255, 255, 0.884);
    --borderColour: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --theme-dot-border: #24292e;
    --previewBg: rgb(251,249,243,0.8);
    --previewShadow: #f0ead6;
    --btnColour: black;
    --skillsColour: #15202B;
}
html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body *{
    transition: 0.3s;
}
h1,h2,h3,h4,h5,h6, strong{
    color: var(--mainText);
    font-family: 'Quintessential', cursive;
}
.text-change{
    font-family: 'Quintessential', cursive;
}
a{
    text-decoration: none;
    color: #17a2b8;

}
ul{
    list-style-type: none;
}
h1{ font-size: 56px; }
h2{ font-size: 36px; }
h3{ font-size: 28px; }
h4{ font-size: 24px; }
h5{ font-size: 20px; }
h6{ font-size: 16px; }

p, li, span, label, input{
    color: var(--mainText);
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}
textarea{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

section{
    padding: 10px;
}

#age{
    color: var(--mainText);
}
.section-one{
    background-color: var(--mainColour);
    border-bottom: 1px solid var(--borderColour);
    overflow: auto;
}
.section-two{
    background-color: var(--secondaryColour);
    border-bottom: 1px solid var(--borderColour);
    overflow: auto;
}
.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 10em;
}
.intro-wrapper{
    background-color: var(--secondaryColour);
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--borderColour);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}
.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColour);
}
#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.dots-wrapper{
    display: flex;
}
.dots-wrapper > a{
    margin-right: 5px;
    border-radius: 50%;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    margin: 10px;
    position: relative;
}
.browser-dot .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.browser-dot:hover .tooltiptext{
    
    visibility: visible;
}
#dot-one{
    background-color: #FC6058;
}
#dot-two{
    background-color: #FEC02f;
}
#dot-three{
    background-color: #2ACA3E;
}
#tooltipone{
    background-color: #FC6058;
}
#tooltiptwo{
    background-color: #FEC02f;
}
#tooltipthree{
    background-color: #2ACA3E;
}
#profile-pic{
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border: 2px solid var(--borderColour);
    border-radius: 50%;
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;

}
.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    cursor: pointer;
    background-color: black;
    margin: 5px;
    border: 1px solid var(--theme-dot-border);
}
.btn-bubble{
    height: 35px;
    width: 10rem;
    border-radius: 10px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    cursor: pointer;
    background-color: black;
    margin: 5px;
    border: 1px solid var(--theme-dot-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #776228;
}
#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.left-column{
    grid-area: left-column;
    padding: 0px 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}
.left-column h5{
    text-align: center;
}
.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
#preview-shadow{
    background-color: var(--previewShadow);
    width: 15rem;
    height: 180px;
    padding: 30px 0 0 30px;
}

.certs-badge-container > .post:hover{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: #192734d7;
    padding: 15px;
    position: relative;
}
#preview{
    width: 15rem;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}
.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}
#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}
.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 50px 0;
    gap: 100px;
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--skillsColour);
    flex-flow: column wrap;
}
#skills > ul > li{
    color: whitesmoke;
    
}
.social-links-wrapper > a > i{
    width: 40px;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(252, 251, 249);
}
.social-links-wrapper > a > i:hover{
    font-size: 1.8em;
}
.social-links{
    background-image: url(./assests/hero-image.svg);
    display: grid;
    align-content: center;
    text-align: center;
}
.social-links h2{
    color: whitesmoke;
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    padding-bottom: 50px;
    justify-content: center;
}
.post{
    border: 1px solid var(--borderColour);
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}
.thumbnail{
    width: 100%;
    height: 180px;
    display: block;
    object-fit: cover;
}
.post-preview{
    background-color: whitesmoke;
    padding: 15px;
}
.post-title{
    color: black;
    margin: 0;
}
.post-intro{
    color: #4b5156;
}
.certs-badge-container{
    height: 250px;
}
.certs-badge-container > .post{
    height: 100%;
}
.certs-badge-container > .post img{
    height: 100%;
}
#contact-wrapper{
    background-color: var(--secondaryColour);
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--borderColour);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'left-column right-column'
    ;
}
/*
Disable links on post review
*/
.disabled{
    pointer-events: none;
    color: grey;
}
.text-change{
    font-size: 24px;
}
input{
    color: black;
}
.info-text{
    visibility: hidden;
}
label{
    color: white;
    line-height: 2.7em;
}
#contact-form{
    display: block;
    max-width: 600px;
    border: 1px solid var(--borderColour);
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #192734;
    margin-bottom: 50px;
    text-align: center;
}
#contact-form textarea{
    min-height: 100px;
    font-size: 18px;
    color: black;
}
.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-radius: 5px;
    border: 1px solid var(--borderColour);
    font-size: 14px;
}
#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--btnColour);
    border: none;
}
@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
    
}
@media screen and (max-width: 490px) {
    .main-container{
        width: auto;
    }
    .intro-wrapper{
        width: 100%;
    }
    .nav-wrapper{
        justify-content: left;
    }
    .btn-bubble{
        width: 150px;
    }
    #preview-shadow, #preview{
        width: 12rem;
        height: 10rem;
        line-height: .5;
    }
}
@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}
    #contact-wrapper{
        grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
    }

}