:root {
  --main-black: #000000;
  --main-white: #f5eded;
  --light-blue: #21e6c1;
  --main-red: #be3144;
  --main-blue: #1e2a78;
  --main-gray: #3e3636;
  --nav-red: #990020;
  --main-background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}

/*Reset margin and padding*/
* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container{
  
  height: 100%;
  background-color: var(--main-blue);
  
}
h1{
  color: var(--light-blue);
}
h1,h2{
  font-family: 'Merriweather', sans-serif;
  font-weight: 600;
  text-align: center;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 500;
  line-height: 1.4;
  color: var(--main-white);
  height: 100vh;
  overflow-x: auto;
	overflow-y: auto;
	
}

.navigation {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--nav-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.nav-menu {
  display: flex;
  margin-right: 2rem;
}

#welcome-section{
  height: 100vh;
}
#projects{
  width: 100%;
  height: auto;
  
  padding: 4px 4px; 
}
#contact{
  
  padding: 10px 10px;
}
.section-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(12,13,13,1) 41%, rgba(20,20,30,1) 90%, rgba(13,51,73,1) 99%, rgba(22,22,29,1) 100%);
}

.sticky-container{
  padding:0px;
  margin:0px;
  position:fixed;
  right:-120px;
  top:230px;
  width:210px;
  z-index: 1100;
}
.sticky li{
  list-style-type:none;
  background-color:var(--nav-red);
  color:#efefef;
  height:50px;
  padding:5px;
  margin:0px 0px 1px 0px;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
}
.sticky li:hover{
  margin-left:-115px;
}
.sticky li i{
  float:left;
  margin:5px 4px;
  margin-right:5px;
}
.sticky li a{
  padding-top:5px;
  margin:0px;
  line-height:16px;
  font-size:14px;
}
.sticky li a{
  text-decoration:none;
  color:whitesmoke;
}
.sticky li a:hover{
  text-decoration:underline;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--main-blue);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.p-img{
  /* The image used */
  background-image: url("https://2s7gjr373w3x22jf92z99mgm5w-wpengine.netdna-ssl.com/wp-content/uploads/2018/09/brain_finger_AI_shutterstock_Peshkova.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.p-skill-img{
  /* The image used */
  background-image: url("https://www.invoiceberry.com/blog/wp-content/uploads/2016/04/name_freelancing_skills-e1460635914646.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

#skill_list{
  width: 100%;
  height: auto;
  
  padding: 4px 4px; 
}
.project-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  
}
.my_projects_item{
  
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my_projects_display{
  width: 250px;
}
.conr{
  color: var(--main-white);
}


#contact-list a{
  color: var(--main-white);
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  #skill_list {
    flex-direction: column;
  }
}


@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-menu a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-menu a:hover {
  background: rgb(2,0,36);
  color: var(--main-white);
}




/*Media Queries*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}